.cards {
padding-top: 20px;
}

.cards__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(413px, 1fr));
    gap: 40px 20px;
    justify-items: center;
}

@media screen and (max-width: 630px) {
    .cards {
        padding-bottom: 22px;
    }
    .cards__list {
        grid-template-columns: repeat(auto-fit, 288px);
    }
}