.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #212121B2;
  width: 420px;
  opacity: 70%;
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 0;
  background-color: Transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  max-width: 107.34px;
  height: 16px;
  gap: 8px;
  opacity: 70%;
  border: none;
  cursor: pointer;
  transition: opacity 0.7 150ms ease;
}


.profile__edit-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.profile__add-btn {
  display: flex;
  width: 157px;
  border: none;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  gap: 8px;
  background-color: #212121;
  align-self: end;
  color: #fcf5e5;
  opacity: 1;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 288px;
    justify-content: center;
  }
  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    border-radius: 8px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    font-size: 16px;
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
}
}